body {
	background-color: black;
}

div {
	color: white;
	text-align: center;
	padding-top: 100px;
}

img {
	border: 5px solid white;
}

h1 {
	font-family: "Libre Baskerville";
	text-transform: uppercase;
}